<footer role="contentinfo" class="footer">
  <p><small><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International (CC BY 4.0)</a></small></p>
  <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a> | Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
