{{! Your Google Analitycs ID }}
var ga_ua = 'UA-XXXXX-X';

{{! Your Disqus shortname }}
var disqus_shortname = 'datacite';

{{! Enable Pjax for asynchronous (AJAX) content loading }}
var enable_pjax = true;
