{{! The Twitter username of the owner of this card's domain }}
<meta name="twitter:site" content="@datacite">

{{! The Twitter username of the author of this content }}
<meta name="twitter:creator" content="@datacite">

{{! Change for Google Webmaster verification }}
<meta name="google-site-verification" content="">

{{! Change for Facebook Insight verification }}
<meta property="fb:admins" content="">
